
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adicionar</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <form #formName="ngForm">
        <div class="form-group">
          <label for="titulo-input" class="col-form-label">Título:</label>
          <input type="text" class="form-control" [(ngModel)]="bodyCreateCard.titulo" id="titulo-input" name="titulo-input" required>
        </div>
        <div class="form-group">
          <label for="conteudo-input" class="col-form-label">Conteúdo:</label>
          <textarea class="form-control" id="conteudo-texto" [(ngModel)]="bodyCreateCard.conteudo" id="conteudo-input" name="conteudo-input" required></textarea>
        </div>
        <br/>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="todo-input" value="todo" [(ngModel)]="bodyCreateCard.lista" required>
          <label class="form-check-label" for="inlineTodo">Todo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="doing-input" value="doing" [(ngModel)]="bodyCreateCard.lista" required>
          <label class="form-check-label" for="inlineDoing">Doing</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="done-input" value="done" [(ngModel)]="bodyCreateCard.lista" required>
          <label class="form-check-label" for="inlineDone">Done</label>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Cancelar</button>
    <button type="button" class="btn btn-primary"(click)="modal.close('Save click')" (click)="modalSave()" id="btnModalSave" [disabled]="!formName.valid">Salvar</button>
  </div>
</ng-template>


<ng-template #mymodalEditor let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <form #formNameEditor="ngForm">
        <div class="form-group">
          <label for="titulo-input" class="col-form-label">Título:</label>
          <input type="text" class="form-control" [(ngModel)]="bodyEditCard.titulo" id="titulo-input" name="titulo-input" required>
        </div>
        <div class="form-group">
          <label for="conteudo-input" class="col-form-label">Conteúdo:</label>
          <textarea class="form-control" id="conteudo-texto" [(ngModel)]="bodyEditCard.conteudo" id="conteudo-input" name="conteudo-input" required></textarea>
        </div>
        <br/>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Cancelar</button>
    <button type="button" class="btn btn-primary"(click)="modal.close('Save click')" (click)="updateCard(bodyEditCard.id, bodyEditCard.titulo, bodyEditCard.conteudo, bodyEditCard.lista)" (click)="readCards()" id="btnModalSave" [disabled]="!formNameEditor.valid">Salvar</button>
  </div>
</ng-template>



<div class="main">

  <button type="button" class="btn btn-dark btn-sm btn-margin20px" (click)="open(mymodal)">Adicionar</button>

  <div cdkDropListGroup>

    <div class="example-container">
      <p class="title-box">TO DO</p>
      <div
        cdkDropList id="todo"
        [cdkDropListData]="todoArray"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todoArray" cdkDrag>
            <p class="title-box">{{item.titulo}}</p>
            <p class="content-box">{{item.conteudo}}</p>
            <button class="btn-marginLeftRight btn-no-style" (click)="openModalEditor(mymodalEditor, item)"><mat-icon>edit</mat-icon></button>
            <button class="btn-marginLeftRight btn-no-style" (click)="deleteCard(item)" (click)="readCards()"><mat-icon>delete_forever</mat-icon></button>
          </div>
      </div>
    </div>


    <div class="example-container">
      <p class="title-box">DOING</p>
      <div
        cdkDropList id="doing"
        [cdkDropListData]="doingArray"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doingArray" cdkDrag>
          <p class="title-box">{{item.titulo}}</p>
          <p class="content-box">{{item.conteudo}}</p>
          <button class="btn-marginLeftRight btn-no-style" (click)="openModalEditor(mymodalEditor, item)"><mat-icon>edit</mat-icon></button>
          <button class="btn-marginLeftRight btn-no-style" (click)="deleteCard(item)" (click)="readCards()"><mat-icon>delete_forever</mat-icon></button>
        </div>
      </div>
    </div>


    <div class="example-container">
      <p class="title-box">DONE</p>
      <div
        cdkDropList id="done"
        [cdkDropListData]="doneArray"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doneArray" cdkDrag>
          <p class="title-box">{{item.titulo}}</p>
          <p class="content-box">{{item.conteudo}}</p>
          <button class="btn-marginLeftRight btn-no-style" (click)="openModalEditor(mymodalEditor, item)"><mat-icon>edit</mat-icon></button>
          <button class="btn-marginLeftRight btn-no-style" (click)="deleteCard(item)" (click)="readCards()"><mat-icon>delete_forever</mat-icon></button>
        </div>
      </div>
    </div>


  </div>
</div>